<%= form_for :comment, url: comments_path, html: { id: "#{post_id}-comment" } do |f| %>
  <%= gravatar_for current_user, size: 32 %>
  <%= f.text_area :content, placeholder: "Write a comment...", required: true %>
  <%= f.hidden_field :post_id, value: post_id %>
  <div class="action">
    <%= f.submit "Submit" %>
  </div>
<% end %>