<div class="profile-container">
  <div class="about">
    <div class="profile">
      <%= gravatar_for @user, size: 160 %>
      <h3 class="name"><%= @user.name%></h3>
    </div>
    <div class="info">
      <div class="title">About</div>
      <div class="data">
        <div class="data-row">
          <div class="prop">Email:</div>
          <div class="value"><%= @user.email%></div>
        </div>
        <div class="data-row">
          <div class="prop">Birthday:</div>
          <div class="value"><%= @user.birthday%></div>
        </div>
        <div class="data-row">
          <div class="prop">Gender:</div>
          <div class="value"><%= @user.gender%></div>
        </div>
        <% if @user==current_user %>
          <div class="data-row">
            <%= link_to "Friends (#{current_user.friends.count})", friends_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="posts">
    <%= render "posts/new" if @user==current_user %>
    <% @user.posts.each do |p| %>
      <%= render "shared/post", p: p %>
    <% end %>
  </div>
</div>