<%= gravatar_for @user, size: 160 %>
<p><%= @user.name%></p>
<p><%= @user.email%></p>
<p><%= @user.birthday%></p>
<p><%= @user.gender%></p>
<%= render "posts/new" %>
<h2>Posts</h2>
<% @user.posts.each do |p| %>
  <p>
    Post: <%= p.content %>
    <% if p.user_id == current_user.id %>
      <%= link_to 'Delete post', post_path(id: p.id), method: :delete %>
    <% end %>
  </p>
  <%= gravatar_for p.user, size: 30 %>
  <p><%= p.user.name %></p>
  <p><%= p.created_at %></p>
  <p><%= pluralize(p.likes.count, 'Likes') %> 
  <% if current_user.liked(p) %>
    <%= link_to 'Delete like', like_path(id: current_user.liked(p).id), method: :delete %></p>
  <% else %>
    <%= link_to 'Like', likes_path(id: p.id), method: :post %></p>
  <% end %>
  <h4>Comments:</h4>
  <% p.comments.each do |c| %>
    <p>
      Comment: <%= c.content %>
      <% if c.user_id == current_user.id || p.user_id === current_user %>
        <%= link_to 'Delete comment', comment_path(id: c.id), method: :delete %>
      <% end %>
    </p>
    <%= gravatar_for c.user, size: 30 %>
    <p><%= c.user.name %></p>
  <% end %>
  <%= render "comments/new", post_id: p.id %>
<% end %>