<% @posts.each do |p| %>
  <p><%= p.content %></p>
  <p><%= p.user.name %></p>
  <p><%= p.likes.count %> Likes</p>
  <% p.comments.each do |c| %>
    <p><%= c.content %></p>
    <p><%= c.user.name %></p>
  <% end %>
<% end %>